<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.zguiz.service"/>

    <!--  整合数据库连接池，后续需要由Spring进行数据库事务管理  -->
    <context:property-placeholder location="classpath:jdbc_config.properties"/>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
        <property name="url" value="${url}"/>
    </bean>
    <!--  整合spring+mybatis的数据源  -->
    <bean id="SqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--  mybatis改用spring提供的数据源  -->
        <property name="dataSource" ref="dataSource"/>
        <!--  找到mybatis全局配置文件  -->
        <property name="configLocation" value="mybatis-conf.xml"/>
    </bean>

    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--  mapper接口组件需要由mybatis提供的整合类进行扫描  -->
        <property name="basePackage" value="com.zguiz.mapper"/>
    </bean>

    <bean id="Book" class="com.zguiz.bean.Book" scope="prototype"></bean>
    <bean id="Category" class="com.zguiz.bean.Category" scope="prototype"></bean>
    <bean id="Cart" class="com.zguiz.bean.Cart" scope="prototype"/>
    <bean id="CartItem" class="com.zguiz.bean.CartItem" scope="prototype"/>
    <bean id="Customer" class="com.zguiz.bean.Customer" scope="prototype"/>

</beans>